
@{
    Layout = "_Layout";
}

<div class="container">

    <p class="h2">Apply Update Result :</p>

    <textarea disabled style="padding:15px; width:100%; height:500px; border:1px solid gainsboro; outline:none; background-color:transparent;">
@ViewBag.Message
    </textarea>

</div>

