@{
    Layout = "_Layout";
}

<style>

    html, body {
        background-color: whitesmoke;
    }

    #viewOgrenci {
        height: 100%;
        /*    font-size: 16px;*/
        /*        font-family: Kelson Sans Regular;*/
    }

        #viewOgrenci #headerOgrenci .navbar .navbar-nav .nav-item {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 15px;
        }

            #viewOgrenci #headerOgrenci .navbar .navbar-nav .nav-item a {
                opacity: 0.75;
                font-size: 1.4em !important;
            }

                #viewOgrenci #headerOgrenci .navbar .navbar-nav .nav-item a:hover {
                    opacity: 1;
                }

                #viewOgrenci #headerOgrenci .navbar .navbar-nav .nav-item a i {
                    color: deepskyblue;
                }
</style>

@*Burada popupView lar olacak*@
<div id="mnPopupViewContainer" style="clear:both; position:absolute;" oncontextmenu="return false;">
</div>

<div id="viewOgrenci" class="container-fluid pl-0 pr-0">
    <div id="headerOgrenci">
        <nav class="navbar navbar-expand-md navbar-light bg-white mn-box-shadow-atilay pt-0 pb-0">
            <a class="navbar-brand" href="/Ogrenci">
                <img src="@ViewBag.LogoImageUrl" alt="Logo" style="height:50px; ">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-nowrap " href="#/">
                            <i class="fa fa-fw fa-home"></i>
                            <span data-langkey-Text="xRob.Ogrenci.Menu.Anasayfa"></span>
                        </a>
                    </li>

                    @*<li class="nav-item">
            <a class="nav-link" >
                <span>|</span>
            </a>
        </li>*@

                    <li class="nav-item">
                        <a class="nav-link text-nowrap" href="#/ProjeHavuzu">
                            <i class="fa fa-fw fa-stack-overflow"></i>
                            <span data-langkey-Text="xRob.viewOgrenciProjeHavuzu.Projeler"></span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-nowrap" href="#/Kurlar">
                            <i class="fa fa-fw fa-th-large"></i>
                            <span data-langkey-Text="xRob.Ogrenci.Menu.Kurlar"></span>
                        </a>
                    </li>

                    @*<li class="nav-item">
            <a class="nav-link text-nowrap" href="#/Haberler">
                <i class="fa fa-fw fa-newspaper-o"></i>
                <span data-langkey-Text="xRob.Ogrenci.Menu.Haberler"></span>
            </a>
        </li>*@

                    @*<li class="nav-item">
                        <a class="nav-link text-nowrap" href="#/Profilim">
                            <i class="fa fa-fw fa-user-o"></i>
                            <span data-langkey-Text="xRob.Ogrenci.Menu.Profilim"></span>
                        </a>
                    </li>*@

                    <li id="itemSatinAl" class="nav-item" style="display:none;">
                        <a class="nav-link text-nowrap" href="#/SatinAl">
                            <i class="fa fa-fw fa-shopping-basket"></i>
                            <span data-langkey-Text="xRob.Ogrenci.Menu.SatinAl"></span>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img name="imgKullaniciResim" class="rounded-circle" src="~/img/photo/nophoto.png" style="width:36px; height:40px;" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right mr-1 shadow" style="font-size:0.9em;" aria-labelledby="navbarDropdownMenuLink">
                            @*<a class="dropdown-item" href="#/Profilim">
                                <i class="fa fa-fw fa-user-o"></i> <span name="labelUserName"></span>
                            </a>*@

                            @*<hr class="mt-1 mb-1" />*@

                            @*<a id="btnSifreDegistir" class="dropdown-item" href="#"> <i class="fa fa-key fa-fw"></i> <span data-langkey-Text="xRob.Ogrenci.MenuDropDown.SifreDegistir"></span> </a>*@
                            <a id="btnCikis" class="dropdown-item" href="javascript:void(0)">
                                <i class="fa fa-power-off fa-fw"></i> <span data-langkey-Text="xRob.Ogrenci.MenuDropDown.OturumuKapat"></span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

        </nav>
    </div>

    <div id="contentOgrenci" oncontextmenu="return false;">
        @*Burada pageView lar olacak*@
        <div id="mnPageViewContainer" style="overflow: auto;"></div>
    </div>

</div>


<script>
    window.addEventListener('load', (event) => {
        if (mnUser.Info.bLogin) {
            viewOgrenci.prepare();
            //en son yapılacaklar
            $(window).resize();
        } else {
            mnAlert.info(mnLang.TranslateWithWord('xLng.OturumKapali'));
        }

        //Router
        mnRouter.init();

        // server session time out olmasın diye
        mnUser.idleTimeout(1000 * 60 * 2);
        // screensaver gibi belli bir zamanda logine düşer
        mnUser.idleLogout(1000 * 60 * 30);
    });

    window.mnRouter = function () {
        var self = {};

        self.fnShowView = function (_showType, _areaName, _viewName, _header, _params) {
            if (_showType == "Popup") {
                mnPopupView.create({
                    areaName: _areaName,
                    viewFileName: _viewName,
                    viewName: _viewName,
                    header: _header,
                    onShow: function (e) {
                        e.beforeShow(_params);
                    }
                });
            } else {
                mnPageView.create({
                    areaName: _areaName,
                    viewFileName: _viewName,
                    viewName: _viewName,
                    header: _header,
                    onShow: function (e) {
                        e.beforeShow(_params);
                    }
                });
            }
        };

        self.fnCreateRouter = function () {
            self.router = new kendo.Router({
                root: "/Ogrenci#/",
                change: function (e) {
                    //console.log("router change event", e);
                },
                routeMissing: function (e) {
                    //tanımlı olmayan adres çağrıldı
                    e.preventDefault();
                    //console.log("missing", e.url, e.params);
                    setTimeout(function () {
                        self.router.navigate("/Hata?code=404");
                    });
                }
            });

            //Custom routlar
            var routeList = [
                { areaName: "_", routName: "/Hata", showType: "Page", header: false, viewName: "viewError", yetkiId: "" },

                { areaName: "Rob", routName: "/", showType: "Page", header: false, viewName: "viewOgrenciAnasayfa", yetkiId: "" },
                { areaName: "Rob", routName: "/AnaSayfa", showType: "Page", header: false, viewName: "viewOgrenciAnasayfa", yetkiId: "" },
                { areaName: "Rob", routName: "/AnasayfaEski", showType: "Page", header: false, viewName: "viewOgrenciAnasayfaEski", yetkiId: "" },


                { areaName: "Rob", routName: "/ProjeHavuzu", showType: "Page", header: false, viewName: "viewOgrenciProjeHavuzu", yetkiId: "" },
                { areaName: "Rob", routName: "/Kurlar", showType: "Page", header: false, viewName: "viewOgrenciKurlar", yetkiId: "" },
                //{ areaName: "Rob", routName: "/Haberler", showType: "Page", header: false, viewName: "viewOgrenciHaberler", yetkiId: "" },

                { areaName: "Rob", routName: "/Kodris", showType: "Page", header: false, viewName: "viewOgrenciKodris", yetkiId: "" },

                //{ areaName: "Rob", routName: "/Profilim", showType: "Page", header: false, viewName: "viewOgrenciProfilim", yetkiId: "" },

                //diger routlar viewOgrenciProjeHavuzu
                { areaName: "Rob", routName: "/Haber", showType: "Page", header: false, viewName: "viewOgrenciHaber", yetkiId: "" },
                { areaName: "Rob", routName: "/ProjePlayer", showType: "Page", header: false, viewName: "viewOgrenciProjePlayer", yetkiId: "" },
                { areaName: "Rob", routName: "/Sinav", showType: "Page", header: false, viewName: "viewOgrenciSinav", yetkiId: "" },
                { areaName: "Rob", routName: "/SatinAl", showType: "Page", header: false, viewName: "viewOgrenciSatinAl", yetkiId: "" },
            ];

            ////yetki şablondan dinamik rout oluşturma
            //var dsRout = mnYetkiSablon.getYetkiSablonForRout();
            //for (var i = 0; i < dsRout.length; i++) {
            //    //console.log(dsRout[i].id);
            //    routeList.push({
            //        areaName: dsRout[i].area,
            //        routName: "/" + dsRout[i].rout,
            //        showType: dsRout[i].showType,
            //        header: dsRout[i].header,
            //        viewName: dsRout[i].viewName,
            //        yetkiId: dsRout[i].id
            //    });
            //}

            //routing işlemleri
            for (let i in routeList) {
                self.router.route(routeList[i].routName, function (prms) {
                    //console.log(prms);
                    let _showType = routeList[i].showType;
                    let _areaName = routeList[i].areaName;
                    let _viewName = routeList[i].viewName;
                    let _header = routeList[i].header;
                    let _params = { 'qprms': prms };
                    //let _yetkiId = routeList[i].yetkiId;

                    self.fnShowView(_showType, _areaName, _viewName, _header, _params);
                });
            }

            self.router.start();
        };

        self.init = function () {
            self.fnCreateRouter();
        };

        return self;
    }();


    window.viewOgrenci = function () {
        var self = {};
        self.selector = "#viewOgrenci";
        self.primaryKey = 'Id';

        self.prepare = function () {

            $(self.selector).find("#btnCikis").click(function () {
                mnUser.logout(false);
            });

            //imgKullaniciResim
            $(self.selector).find("[name=labelUserName]").html(mnUser.Info.sAdSoyad);
            if (mnUser.Info.sKullaniciResim.length > 0) {
                $(self.selector).find("[name=imgKullaniciResim]").attr("src", mnUser.Info.sKullaniciResim);
            }

            //ilk açılış,
            $(self.selector).find("#headerOgrenci .navbar .navbar-nav .nav-item a:first").click();


            // Language
            mnLang.TranslateWithSelector("body");
        };

        return self;
    }();

</script>