<!DOCTYPE html>

@{
    var AppVersion = WebApp1.Codes.MyApp.Version;
    var AppCulture = System.Globalization.CultureInfo.DefaultThreadCurrentCulture.Name;
    var AppUserLanguage = System.Globalization.CultureInfo.DefaultThreadCurrentCulture.Parent.IetfLanguageTag;
    var AppTitle = WebApp1.Codes.MyApp.AppName + " v." + WebApp1.Codes.MyApp.Version + " " + WebApp1.Codes.MyApp.Env.EnvironmentName;
}

<html lang="@System.Globalization.CultureInfo.DefaultThreadCurrentCulture.Name.Substring(0,2)">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>@AppTitle</title>

    @*bootstrap CSS*@
    @*<link href="~/lib/bootstrap/4.4.1/css/bootstrap.min.css?@AppVersion" rel="stylesheet" />*@

    <!-- DevExtreme dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <!-- DevExtreme themes -->
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.1.6/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.1.6/css/dx.light.css" />

    <!-- DevExtreme library -->
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/21.1.6/js/dx.all.js"></script>

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en,Intl.~locale.de,Intl.~locale.tr"></script>
    <script src="https://cdn3.devexpress.com/jslib/21.1.6/js/localization/dx.messages.de.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/21.1.6/js/localization/dx.messages.tr.js"></script>


    <script>
        $(document).ready(function () {
            //DevExtreme set
            //DevExpress.localization.locale("@AppUserLanguage");

            //DevExpress.config({
            //    rtlEnabled: false,
            //    defaultCurrency: "TRY",
            //    designMode: true,
            //    serverDecimalSeparator: ",",
            //    decimalSeparator: ",",
            //    thousandsSeparator: "."
            //});

            //DevExpress.localization.locale(navigator.language);
            DevExpress.localization.locale("tr");
            //DevExpress.config({
            //    defaultCurrency: "TRY"
            //});

        });
    </script>
</head>
<body class="dx-viewport">
    @RenderBody()
</body>
</html>
