

<div id='viewAnasayfa'>
    <div>
        <div class="row">
            <div class="col-6">
                <div id="compProjectList"></div>
            </div>
        </div>

        <div class="py-3"></div>

        <div>
            <div id="compProjects"></div>

            <div id="compProjectEditor"></div>
        </div>
    </div>
</div>

<script>
    window.viewAnasayfa = function () {
        var self = {};
        self.opt = null;
        self.area = 'Nft';
        self.title = 'xNft.viewAnasayfa.Title';
        self.selector = '#viewAnasayfa';

        self.prepare = function () {
            let projectList1 = compProjectList($(self.selector).find('#compProjectList'));
            projectList1.prepare();

            let projects1 = compProjects($(self.selector).find('#compProjects'));
            projects1.prepare();

            let projectEditor1 = compProjectEditor($(self.selector).find('#compProjectEditor'));
            projects1.onChange = function (e) { projectEditor1.ShowProjectLayers(e.name, e.layers); };
            projectEditor1.prepare();

            // Language
            mnLang.TranslateWithSelector(self.selector);
        };

        self.beforeShow = function (_opt) {
            self.opt = $.extend({}, _opt);

        };

        self.close = function () {
            if ($(self.selector).closest('.k-window-content').getKendoWindow()) {
                $(self.selector).closest('.k-window-content').getKendoWindow().close(); // popup ise
            } else {
                $(self.selector).closest('.mnPageView').find('#btnGeri').click(); // page ise
            }
        };

        return self;
    }();
</script>
