

<div id='viewProjectEditor'>
    <div>
        <label class="h4" id="labelProjectName"></label>
    </div>

    <div class="py-1"></div>

    <div id="compProjectEditor"></div>
</div>

<script>
    window.viewProjectEditor = function () {
        var self = {};
        self.opt = null;
        self.area = 'Nft';
        self.title = 'xNft.viewProjectEditor.Title';
        self.selector = '#viewProjectEditor';

        self.prepare = function () {
            //editor
            self.projectEditor1 = compProjectEditor($(self.selector).find('#compProjectEditor'));
            self.projectEditor1.prepare();

            // Language
            mnLang.TranslateWithSelector(self.selector);
        };

        self.beforeShow = function (_opt) {
            self.opt = $.extend({}, _opt);

            $(self.selector).find('#labelProjectName').html(self.opt.qprms.p1);
            self.projectEditor1.ShowProjectLayers(self.opt.qprms.p1);
        };

        self.close = function () {
            if ($(self.selector).closest('.k-window-content').getKendoWindow()) {
                $(self.selector).closest('.k-window-content').getKendoWindow().close(); // popup ise
            } else {
                $(self.selector).closest('.mnPageView').find('#btnGeri').click(); // page ise
            }
        };

        return self;
    }();
</script>
