
@{
    Layout = "_Layout";
}

<div id="viewHome" style="">

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/img/logo/logoYatay.png" style="height:40px;" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between pl-4">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Files" asp-action="Index">Files</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


</div>

<style>
    #viewHome .mnPageViewContent {
        padding: 0px;
    }
</style>


<script>

    window.addEventListener('load', (event) => {
        viewHome.prepare();
    });

    window.viewHome = function () {
        var self = {};
        self.selector = "#viewHome";


        self.prepare = function () {
            // Language
            mnLang.TranslateWithSelector(self.selector);
        };

        $(window).on("resize", function () {

        });

        return self;
    }();

</script>