
@{
    Layout = "_Layout";
}

<div id="viewIyzipayThreedsCallback" style="">

    <div class="container">
        <div class="h3">
            @ViewBag.message
        </div>
    </div>

</div>

<style>
</style>


<script>

    window.addEventListener('load', (event) => {
        viewIyzipayThreedsCallback.prepare();
    });

    window.viewIyzipayThreedsCallback = function () {
        var self = {};
        self.selector = "#viewIyzipayThreedsCallback";

        self.prepare = function () {

            // Language
            mnLang.TranslateWithSelector(self.selector);
        };

        $(window).on("resize", function () {

        });

        return self;
    }();

</script>