
@{
    Layout = "~/Views/Shared/_Layout_DevExtreme.cshtml";
}

<h2>DevExtreme Index Text</h2>

<div style="padding:15px;">

    <div class="" style="width:50%; float:left;">
        <div class="form">
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-label">Checked</div>
                    <div class="dx-field-value">
                        <div id="checked"></div>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Unchecked</div>
                    <div class="dx-field-value">
                        <div id="unchecked"></div>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Indeterminate</div>
                    <div class="dx-field-value">
                        <div id="indeterminate"></div>
                    </div>
                </div>

                <div class="dx-field">
                    <div class="dx-field-label">Date and time</div>
                    <div class="dx-field-value">
                        <div id="date-time"></div>
                    </div>
                </div>

                <div class="dx-field">
                    <div class="dx-field-label">Default mode 1</div>
                    <div class="dx-field-value">
                        <div id="number-box1"></div>
                    </div>
                </div>

                <div class="dx-field">
                    <div class="dx-field-label">Default mode</div>
                    <div class="dx-field-value">
                        <div id="number-box2"></div>
                    </div>
                </div>

                <div class="dx-field">
                    <div class="dx-field-label">Default mode</div>
                    <div class="dx-field-value">
                        <div id="number-box21"></div>
                    </div>
                </div>

                <div class="dx-field">
                    <div class="dx-field-label">Default mode</div>
                    <div class="dx-field-value">
                        <div id="number-box3"></div>
                    </div>
                </div>


            </div>
        </div>


    </div>

    <div style="width:50%; float:left;">
        <div id="grid1"></div>
    </div>
</div>

<script>

    $(function () {

        $("#checked").dxCheckBox({
            value: true
        });

        $("#unchecked").dxCheckBox({
            value: false
        });

        $("#indeterminate").dxCheckBox({
            value: undefined
        });

        $("#date-time").dxDateBox({
            type: "datetime",
            value: new Date()
        });

        $("#number-box1").dxNumberBox({
            value: 20.15,
            showSpinButtons: true,
            showClearButton: true
        });

        $("#number-box2").dxNumberBox({
            value: 20.5,
            showSpinButtons: true,
            showClearButton: true,
            format: { type: "currency", currency: "EUR", precision: 2 }
        });

        $("#number-box21").dxNumberBox({
            value: 20.5,
            showSpinButtons: true,
            showClearButton: true,
            format: { type: "currency", currency: "TRY", precision: 2 }
        });

        $("#number-box3").dxNumberBox({
            value: 20.5,
            showSpinButtons: true,
            showClearButton: true,
            format: { type: "currency", precision: 2 }
        });

        $("#grid1").dxDataGrid({
            dataSource: [],
            columns: ["CompanyName", "City", "State", "Phone", "Fax"],
            showBorders: true
        });

    });

</script>

