@{ Layout = "_Layout"; }

<div id="viewUyeKayitOnay">
    <div class="py-5"></div>

    <div class="container">
        <div>
            <img src="~/img/logo/logoYatay.png" style="max-width:250px;" />
        </div>

        <div class="py-3"></div>

        <p class="h3">@ViewBag.Message</p>

        <br />
        <a href="/Account" class="btn btn-link">
            <span data-langkey-text="xLng.GirisSayfasiIcinTiklayiniz"></span>
        </a>
    </div>
</div>


<script>

    window.addEventListener('load', (event) => {
        viewUyeKayitOnay.prepare();
    });

    window.viewUyeKayitOnay = function () {
        var self = {};
        self.selector = "#viewUyeKayitOnay";

        self.prepare = function () {

            // Language
            mnLang.TranslateWithSelector(self.selector);
        };

        $(window).on("resize", function () {

        });

        return self;
    }();

</script>