
@{
    Layout = "_Layout";
}

@*Burada popupView lar olacak*@
<div id="mnPopupViewContainer" style="clear:both; position:absolute;">
</div>

<div id="viewManage" class="mn-default-bg-color mn-default-text-color" style="height:100%;">
    <div class="mb-1" style="box-shadow: 0px 0px 6px #2a266c;">
        <table style="width:100%;" class="">
            <tr id="trHeader" style="background-color: #cbcbce;">
                <td style="width:255px; padding-left:15px;">
                    <div class="row no-gutters">
                        <div class="col">
                            <a href="/Manage">
                                <img src="@ViewBag.LogoImageUrl" alt="" style="height:35px; padding:3px;" class="mr-auto">
                            </a>
                        </div>

                        <div class="col">
                            <nav class="navbar navbar-expand-md navbar-light">
                                <button id="btnLeftMenuGosterGizle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sideBar" aria-controls="sideBar" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </nav>
                        </div>
                    </div>
                </td>
                <td class="pr-1">

                    <div class="row no-gutters">

                        <div class="col d-none d-md-block">
                            <a href="#/" class="font-weight-light">
                                <span class="" style="font-size:20px; vertical-align: middle; display: inline-flex; user-select: none; padding-top:6px;">
                                    <span style="color:darkblue;">@WebApp1.Codes.MyApp.AppName1</span>
                                    <span style="color:deepskyblue;">@WebApp1.Codes.MyApp.AppName2</span>
                                </span>
                            </a>
                        </div>

                        <div class="col pr-3">
                            <div class="btn-group pull-right pr-3">

                                @*<button id="btnBildirim" type="button" class="btn user-select-none mr-2 mn-opacity-050 mn-opacity-hover-1">
                                    <i class="fa fa-bell-o" style=""></i>
                                </button>*@

                                <button type="button" class="btn dropdown-toggle text-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span id="spanUserName" class="pr-1 font-weight-light"></span>
                                </button>

                                <div class="dropdown-menu dropdown-menu-right shadow mn-default-bg-color mn-default-text-color">

                                    @*<div class="text-center pt-2 pb-3">
                <img name="imgKullaniciResim" style="max-width:100px; max-height:123px;">
            </div>

            <div class="dropdown-divider"></div>*@

                                    <a id="btnSifreDegistir" class="dropdown-item mn-default-bg-color mn-default-text-color font-weight-light" href="javascript:void(0)">
                                        <i class="fa fa-key"></i> <span data-langkey-text="xLng.SifreDegistir"></span>
                                    </a>

                                    <a id="btnOturumAcmisKullanicilar" style="display:none;" class="dropdown-item mn-default-bg-color mn-default-text-color font-weight-light" href="/Tem/DwaTem/GetConnectedUserList" target="_blank">
                                        <i class="fa fa-envelope-o"></i> <span data-langkey-text="xLng.OturumAcmisKullanicilar"></span>
                                    </a>

                                    <div class="dropdown-divider"></div>

                                    <a id="btnCikis" class="dropdown-item mn-default-bg-color mn-default-text-color font-weight-light" href="javascript:void(0)">
                                        <i class="fa fa-power-off"></i> <span data-langkey-text="xLng.Cikis"></span>
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>


                </td>
            </tr>
        </table>
    </div>

    <div class="d-flex">
        <div id="leftCol" class="pl-1 pr-1" style="background-color:whitesmoke;">
            <nav class="navbar navbar-expand-md navbar-dark p-0">
                <div id="sideBar" class="collapse navbar-collapse">
                    <div id="mainMenuContainer">
                        <div>
                            <div class="py-2"></div>
                            <div class="text-center">
                                <img name="imgKullaniciResim" class="rounded-circle shadow" style="max-width:110px; max-height:110px;">
                            </div>
                            <div class="py-1"></div>
                            <div class="text-center">
                                <span id="spanUserNameSurname" class="pr-1 font-weight-normal"></span>
                            </div>
                            <hr class="my-2" />
                        </div>

                        <div id="mainMenu" style="padding-bottom:15px;"></div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="w-100 mn-default-bg-color">
            <div>
                <div id="mainContent">
                    @*Burada pageView lar olacak*@
                    <div id="mnPageViewContainer" style="padding:15px; overflow: auto;"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="mnSignalRClientContainer">
    </div>
</div>

<script>
    //// window kapanırken veya geri tuşuna basılınca, çıkıp çıkmayacağını soruyor
    //window.addEventListener('beforeunload', function (e) {
    //    // eğer mnUser.logoutForce = true ise direk çıkış yapılması istenmiştir
    //    if (!mnUser.logoutForce) {
    //        e.preventDefault();
    //        e.returnValue = null;
    //        delete e['returnValue'];
    //    }
    //});

    window.addEventListener('load', (event) => {
        if (mnUser.Info.bLogin) {
            viewManage.prepare();
            //en son yapılacaklar
            $(window).resize();
        } else {
            mnAlert.info(mnLang.TranslateWithWord('xLng.OturumKapali'));
        }

        //Router
        mnRouter.init();

        // server session time out olmasın diye
        mnUser.idleTimeout(1000 * 60 * 2);
        // screensaver gibi belli bir zamanda logine düşer
        mnUser.idleLogout(1000 * 60 * 30);

        //mesaj 
        let compBildirim1 = compBildirim(document.querySelector('#btnBildirim'));
        compBildirim1.prepare();

    });


    window.mnRouter = function () {
        var self = {};

        self.fnShowView = function (_showType, _areaName, _viewName, _header, _params) {
            if (_showType == "Popup") {
                mnPopupView.create({
                    areaName: _areaName,
                    viewFileName: _viewName,
                    viewName: _viewName,
                    header: _header,
                    onShow: function (e) {
                        e.beforeShow(_params);
                    }
                });
            } else {
                mnPageView.create({
                    areaName: _areaName,
                    viewFileName: _viewName,
                    viewName: _viewName,
                    header: _header,
                    onShow: function (e) {
                        e.beforeShow(_params);
                    }
                });
            }
        };

        self.fnCreateRouter = function () {
            self.router = new kendo.Router({
                root: "/Manage#/",
                change: function (e) {
                    //console.log("router change event", e);
                },
                routeMissing: function (e) {
                    //tanımlı olmayan adres çağrıldı
                    e.preventDefault();
                    //console.log("missing", e.url, e.params);
                    setTimeout(function () {
                        self.router.navigate("/Hata?code=404");
                    });
                }
            });

            //Custom routlar
            var routeList = [
                { areaName: "_", routName: "/Hata", showType: "Page", header: false, viewName: "viewError", yetkiId: "" },
                { areaName: "", routName: "/", showType: "Page", header: false, viewName: "AnaSayfa", yetkiId: "" },
                { areaName: "", routName: "/AnaSayfa", showType: "Page", header: true, viewName: "AnaSayfa", yetkiId: "" }
            ];

            //yetki şablondan dinamik rout oluşturma
            var dsRout = mnYetkiSablon.getYetkiSablonForRout();
            for (var i = 0; i < dsRout.length; i++) {
                //console.log(dsRout[i].id);
                routeList.push({
                    areaName: dsRout[i].area,
                    routName: "/" + dsRout[i].rout,
                    showType: dsRout[i].showType,
                    header: dsRout[i].header,
                    viewName: dsRout[i].viewName,
                    yetkiId: dsRout[i].id
                });
            }

            //routing işlemleri
            for (let i in routeList) {
                self.router.route(routeList[i].routName, function (prms) {
                    //console.log(prms);
                    let _showType = routeList[i].showType;
                    let _areaName = routeList[i].areaName;
                    let _viewName = routeList[i].viewName;
                    let _header = routeList[i].header;
                    let _params = { 'qprms': prms };
                    let _yetkiId = routeList[i].yetkiId;

                    if (_viewName == "AnaSayfa") {
                        mnPageView.dashboardShow();
                    } else {
                        if (_yetkiId.length = 0 || mnUser.isYetkili(_yetkiId)) {
                            self.fnShowView(_showType, _areaName, _viewName, _header, _params);
                        } else {
                            self.router.navigate("/Hata?code=400");
                        }
                    }
                });
            }

            // routta olamsı gerekmeyeblir
            //self.router.route("/Cikis", function (params) {
            //..
            //});

            self.router.start();
        };

        self.init = function () {
            self.fnCreateRouter();
        };

        return self;
    }();


    window.viewManage = function () {
        var self = {};
        self.selector = "#viewManage";

        self.menuCreate = function () {
            self.mainMenu = $(self.selector).find("#mainMenu").mnSideBarMenu({
                itemColor: "black",
                itemBackgroundColor: "transparent",
                itemHoverColor: "dodgerblue",
                itemHoverBackgroundColor: "transparent",
                dataSource: mnYetkiSablon.getYetkiSablonForMenuData(),
                onClick: function (e) {
                    setTimeout(function () {
                        var $btn = $(self.selector).find("#btnLeftMenuGosterGizle");
                        if ($btn.is(':visible')) {
                            $btn.click();
                        }
                    });
                }
            });
        };

        self.prepare = function () {

            $(self.selector).find("#btnCikis").click(function () {
                mnUser.logout(false);
            });

            self.menuCreate();

            $(self.selector).find(".navbar").find("#spanMainUserName").text(mnUser.sUserName);

            $(window).on("resize", function () {

                var newMainMenuHeight = window.innerHeight - $(self.selector).find("#mainMenuContainer").offset().top - 1;

                $(self.selector).find("#mainMenuContainer").slimScroll({
                    width: 250,
                    height: newMainMenuHeight,
                    color: 'red',
                    railVisible: true,
                    railColor: 'white',
                    railOpacity: 0.3
                });

                //height
                var newPageViewContainerHeight = window.innerHeight - $(self.selector).find("#mnPageViewContainer").offset().top - 1;
                $(self.selector).find("#mnPageViewContainer").css("height", newPageViewContainerHeight);

                //width
                var newPageViewContainerWidth = window.innerWidth - $(self.selector).find("#mnPageViewContainer").offset().left - 1;
                $(self.selector).find("#mnPageViewContainer").css("width", newPageViewContainerWidth);
            });

            $(self.selector).find("#btnSifreDegistir").click(function () {
                mnPopupView.create({
                    areaName: '_',
                    viewFileName: 'viewChangePassword',
                    viewName: 'viewChangePassword',
                    width: 400,
                    //subTitle: mnLang.TranslateWithWord('xLng.SifreDegistir'),
                    onShow: function (e) {
                        e.beforeShow();
                    }
                });
            });

            $(self.selector).find("#spanUserName").html(mnUser.Info.sUserName);
            $(self.selector).find("#spanUserName").attr("title", mnUser.Info.sAdSoyad);
            $(self.selector).find("#spanUserNameSurname").html(mnUser.Info.sAdSoyad);

            //imgKullaniciResim
            if (mnUser.Info.sKullaniciResim) {
                $(self.selector).find("[name=imgKullaniciResim]").attr("src", mnUser.Info.sKullaniciResim);
            } else {
                $(self.selector).find("[name=imgKullaniciResim]").attr("src", "/img/photo/avatar.png");
            }


            $(self.selector).find("#btnLeftMenuGosterGizle").click(function () {
                setTimeout(function () {
                    $(window).resize();
                }, 500);
                setTimeout(function () {
                    $(window).resize();
                }, 1000);
            });

            //yetki kodları - Admin olmayanların görmeyeceği butonlar
            if (mnUser.Info.nYetkiGrup == 11) {
                $(self.selector).find("#btnOturumAcmisKullanicilar").show();
            }
            //

            // Language
            mnLang.TranslateWithSelector("body");
        };

        self.fnOgrenciProjePlayer = function (ownerViewName, projeId, projeAd, detayTur) {
            mnPageView.create({
                areaName: 'Rob',
                viewFileName: "viewOgrenciProjePlayer",
                viewName: "viewOgrenciProjePlayer",
                subTitle: projeAd,
                backgroundColor: 'transparent',
                header: true,
                borderwWidth: '0px',
                boxShadow: 'none',
                onShow: function (e) {
                    var qprms = { 'Id': parseInt(projeId), 'Ad': projeAd, 'DetayTur': detayTur};
                    e.beforeShow({ 'ownerViewName': ownerViewName, 'qprms': qprms });
                    $(e.selector).find("#divProjeHavuzuLink").hide();
                    $(e.selector).find("#divProjeTamamla").hide();
                    $(e.selector).find("#tdLeft").hide();
                    $(e.selector).find("#tdCenterSpace").hide();
                    e.resizeHeightConstValue = 32; //cromeda  scroolla taşmaması için
                }
            });
        };

        self.fnProjeOnizle = function (ownerViewName, projeId, projeAd) {
            mnPopupView.create({
                areaName: 'Rob',
                viewFileName: 'viewOgrenciProjeOzet',
                viewName: 'viewOgrenciProjeOzet',
                showTitle: true,
                resizable: false,
                height: 510,
                width: 700,
                onShow: function (e) {
                    //rounded ekleme
                    $(e.selector).closest(".k-window").addClass("rounded-lg").css("background-color", "whitesmoke");
                    // popup dışında bir yere dokununca kapatmak için (close butona gerek kalmadan)
                    $(e.selector).closest("#mnPopupViewContainer").on("click", ".k-overlay", function () {
                        if (!window.location.hostname.startsWith("localhost")) {
                            e.close();
                        }
                    });
                    e.beforeShow({ 'ownerModule': self, 'ownerViewName': ownerViewName, 'Id': projeId });

                },
                onClose: function (e) {
                    if (e.opt.isSelected) {
                        self.fnOgrenciProjePlayer(ownerViewName, projeId, projeAd, e.opt.detayTur);

                    }
                }
            });
        };

        return self;
    }();

</script>
